<!DOCTYPE html>
<html>
<head>
    <title>Manas Home Page</title>
    <meta charset="utf-8" />

    <script>



    </script>
    <style>
        .car-table{
            text-decoration : wavy;
            background-color : red;
        }

        .red-Button{
            color : palevioletred;
        }

    </style>
</head>
<body>

<h2>Manas Angular Home Page</h2>


<h3>Enter Id</h3>
<div ng-controller="HomePageController">
    <form>
<input type="text" ng-model="carId" id="carId" size="5"/>
<button type="button" ng-click="find(carId)">API Test. Enter 1 or 2</button>
<div></div>
<img src="https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif" id="loadingBar" height="75" width="75" ng-show="showLoadingBar"/>

<table id="carTable" ng-if="showTable">
    <thead>
    <tr>
        <th>Car Name</th>

        <th>Car Category</th>

        <th>Car Price</th>
    </tr>
    </thead>
    <tbody>
    <tr><td><p id="carName">{{carName}}</p></td>
        <td><p id="carCategory">{{carCategory}}</p></td>
        <td><p id="carPrice">{{carPrice}}</p></td></tr>
    </tbody>
</table>

<!-- <h3>{{carId}}</h3>
        <h3>{{carName}}</h3>
        <h3>{{carCategory}}</h3>
        <h3>{{carPrice}}</h3>
        <h3>{{carId}}</h3>-->



     <textarea rows="20" cols="20"></textarea>



    </form>
</div>











</body>

